@media (min-width: 992px) {
  #mainNav .nav-link.active {
    color: rgb(100, 149, 255);
    outline: none;
    background-color: rgba(255, 255, 255, 0);
  }
}

@media (min-width: 992px) {
  #mainNav .nav-link.active:hover {
    color: #6495ff;
  }
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus,
#mainNav .nav-link.active {
  outline: none;
  color: #6495ff;
  background-color: transparent;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: #6495ff;
  border: 1px solid #6495ff;
}

body {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: #000000;
  font-size: 24px;
  background-color: rgb(176, 176, 176);
}

.btn-default {
  color: #6495ff;
  border: 1px solid #6495ff;
  background-color: transparent;
}

.btn-primary:hover {
  color: #000;
  background-color: #6495ff;
  border-color: #6495ff;
}

.btn-check:focus+.btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(100, 149, 255, 0.25);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: #000;
  background-color: #6495ff;
  border-color: #6495ff;
  box-shadow: 0 0 0 0.25rem rgb(100, 149, 255, 0.5);
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
  color: #000;
  background-color: #6495ff;
  border-color: #6495ff;
}

#mainNav a {
  color: #000000;
}

.btn-link:hover {
  color: #6495ff;
}

.btn-check:focus+.btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(100, 149, 255, 0.25);
}

a:focus,
a:hover {
  text-decoration: none;
  color: #6495ff;
}

a:hover {
  color: #6495ff;
}